
.header
{
    display: flex;
    height: calc(8vh - 2px);
}
.header-h1
{
    display: flex;
    align-items: flex-end;
}
.header-h1 h1
{
    margin: 0;
    font-weight: 500;
}
.buttons
{
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    margin-right: 1em;
}
.form-buttons
{
    display: flex;
}
.form-buttons button
{
    border: 2px solid rgba(0, 0, 0, 0.8);
    height: fit-content;
    width: fit-content;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    background-color: transparent;
}
.form-buttons input
{
    border: 2px solid rgba(0, 0, 0, 0.8);
    height: fit-content;
    width: fit-content;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
.form-buttons button:hover
{
    background-color: rgba(255, 255, 255, 0.3);
}
.link
{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
}