

.productAdd-main
{
    height: 78vh;
}
.form-group
{
    display: flex;
    padding: 2vh;
    width: 35vh;
}
.form-group label
{
    width: 30%;
}
.form-group input
{
    border: 2px solid black;
    width: 70%;
}
.form-select
{
    border: 2px solid black;
    width: 70%;
    background-color: transparent;
}
.form-select option[disabled]
{
    display: none;
}
.dynamicalElement
{
    width: fit-content;
    border: 2px solid black;
    padding: 2vh;
    margin: 2vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
}
#TypeSwitcher
{
    display: none;
}
.dynamical-form-group
{
    display: flex;
    padding: 2vh;
    width: calc(100% - 4vh);
}
.dynamical-form-group label
{
    width: 30%;
}
.dynamical-form-group input
{
    border: 2px solid black;
    width: 70%;
}
.description
{
    padding-left: 2vh;
}
.description p
{
    color: gray;
    font-style: italic;
}